@import url('https://fonts.googleapis.com/css2?family=Koh+Santepheap:wght@100;300;400;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --principal-font: "Poppins", sans-serif;
    --brand-color: #ff0000;
    --paper: #f8f5f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: var(--principal-font);
    font-size: 20px;
    color: #232323;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

h1,
h2,
h3,
span {
    font-family: "Koh Santepheap", serif;
    font-weight: 400;
}

h1 {
    font-size: 48px;;
}

#title-sobre, .s-comentarios p {
    font-size: 24px;
}

h3, span {
    font-size: 32px;
}

span {
    color: var(--brand-color);
}

section {
    scroll-margin-top: 10rem;
}

/*header*/
header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: #fff;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

ul {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 3.5rem;
}

button {
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.8rem 1.5rem;
    border-radius: 30px;
    font-family: var(--principal-font);
    font-size: 20px;
    transition: 0.3s;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-3px);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

button:active {
    transform: translateY(1px);
    box-shadow: inset -4px 4px 0 #222;
}

.menu button {
    min-width: 207px;
}

a {
    color: #232323;
    text-decoration: none;
}

/*inicio*/
.s-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    margin-top: 25px;
}

.inicio-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 545px;
}

.inicio-content button {
    width: 100%;
    max-width: 229px;
}

/*sobre*/
.sobre-content {
    display: flex;
    flex-direction: column;
    max-width: 520px;
    gap: 5px;
}

.s-tradicional {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 4rem 0;
}

.s-populares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.populares-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    padding: 0 20px;
} 

.card {
    background-color: #F8F5F2;
    border-radius: 16px;
    text-align: center;
    position: relative;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;

    max-width: 384px;
    margin: 0 auto;
    padding: 10rem 20px 25px;
}

.card:hover {

    transform: translateY(-8px);
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

.card-content p {
    max-width: 300px;
    font-size: 18px;
}

/*comentários*/
.s-comentarios {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 40px;
}

.cards-comentarios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.comentario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #F8F5F2;
    border-radius: 10px;
    max-width: 592px;
    min-height: 390px;
    padding: 40px;
}

/*textos*/
#texto-sobre {
    margin-top: 25px;
}

#texto-inicio, #comentario p {
    font-size: 24px;
}

/*tamanho imagens*/
#menu-bar {
    display: none;
}

#s-inicio-image {
    width: 100%;
    max-width: 400px;
}

#s-tradicional-image {
    width: 100%;
    max-width: 592px;
}

.card-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 85%;
    max-width: 300px;
    height: auto;
}

.s-comentarios-profile {
    width: 100%;
    max-width: 120px;
}

/*divisória*/
.divider {
    width: 65%;
    height: 5px;
    background-color: #F8F5F2;
    margin: 0 auto;
}

/*footer*/
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 40px;
}

footer img {
    padding-left: 10px;
}

@media (max-width: 1024px) {
    nav {
        display: none;
    }

    .menu {
        gap: 2rem;
        padding: 20px;
        justify-content: space-between;
    }

    #menu-bar {
        display: block;
        width: 1.5rem;
    }

    .s-inicio {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        gap: 1.5rem;
    }

    .inicio-content {
        align-items: center;
    }

    .s-tradicional, .cards-comentarios {
        flex-direction: column;
    }
    
    .s-populares {
        gap: 7rem;
    }

    .populares-content {
        grid-template-columns: 1fr;
        gap: 8rem;
    }

    .cards-comentarios {
        display: flex;
    }

    .card-content {
        padding-top: 10px;
    }

    .card {
        padding-top: 5rem;
    }

    .card-img {
        max-width: 180px;
    }
}